body {

    margin: 0;
}

.header {
    position: relative;
    width: 100%;
}

.title {
    color: blue;
    display: inline-block;
    margin-left: 30px;
    margin-bottom: 0;

}

.header-nav {
    position: absolute;
    right: 0%;
    top: 0;
}

.header-nav-list {
    list-style: none;
    margin-bottom: 0;

}

.header-nav-item {
    display: inline-block;
    margin: 15px;


}

a {
    text-decoration: none;
    color: blue;
    font-weight: bold;
}


.picture {
    width: 50%;
    z-index: 10;
    position: relative;
    top: 200px;
    left: 50%;


}


.text {
    font-size: 80px;
    margin: 0;
    line-height: 100%;
}

.square {

    width: 75%;
    height: 200px;
    background: blue;
    z-index: 0;

}